:root {
    --primaryCo: #42b183;
    --secondCo: #317759;
    --textInput: #77e9b9;
    --textContent: #194e37;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    border-radius: 20px;
    border: 4px solid var(--primaryCo);
}

header {
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: var(--primaryCo);
}

header h1 {
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 15px;

    font-family: Poppins, sans-serif;
    font-size: 50px;
    color: var(--secondCo);
}

h2 {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--primaryCo);
}

h3 {
    font-size: 30px;
}

hr {
    border: 2px solid var(--primaryCo);
}

footer {
    margin-top: 1rem;
    font-weight: 500;
    color: var(--secondCo);
}

input[type="text"],
input[type="number"] {
    font-size: 1rem;
    width: 100%;
    height: 35px;
    padding: 5px;

    border-radius: 5px;
    border: none;

    color: var(--textInput);
    background-color: var(--secondCo);
}

input:focus {
    color: var(--textInput);
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;

    font-size: 18px;
    font-weight: 600;

    color: var(--secondCo);
    background-color: var(--primaryCo);
}

/*  ADD BOOK FORM   */

.form-container {
    float: left;
    width: 45%;
    
    border-radius: 20px;
}

.form-container h2 {
    margin-top: 0;
}

.containerIsCompleted {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5rem;
}

#containerCheckBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input[type="checkbox"] {
    position: absolute;
    width: 20px;
    height: 20px;

    opacity: 0;
    cursor: pointer;
}

input:checked[type="checkbox"] + .checkmark {
    background-color: var(--textInput);
    border: 1px solid var(--secondCo);

    width: 20px;
    height: 20px;

    border-radius: 20px;

    box-shadow: 0 5px var(--secondCo);
}

.checkmark {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: 0.5rem;
    background-color: var(--secondCo);
}

#bookFormSubmit {
    padding: 7px 35px 7px 35px;
    height: 35px;

    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--textInput);
    background-color: var(--secondCo);
}

#bookFormSubmit:hover,
#searchSubmit:hover {
    color: var(--textContent);
    background-color: var(--textInput);
    box-shadow: 0 5px var(--secondCo);
}

#bookFormSubmit:active,
#searchSubmit:active {
    color: var(--textInput);
    background-color: var(--textContent);
    box-shadow: 0 0;
}

/*  SEARCH BOOK COLOMN  */

.search-book {
    max-width: 50%;
    margin-inline: auto;
    margin-right: 0;
    margin-top: 0;
}

#searchBook {
    display: flex;
    flex-direction: row;
 }

 #searchSubmit {
    display: flex;
    align-items: center;
    padding: 7px 35px 7px 35px;
    height: 35px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: var(--textInput);
    background-color: var(--secondCo);
}
 
/*  bBOOKS LIST */

.book-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--primaryCo);
}

.book-content {
    max-width: 50%;

    margin-inline: auto;
    margin-top: 0;
    margin-right: 0;
    right: 0;
}

.text-container {
    color: var(--textContent);
    margin: 0;
}

.text-container h3 {
    margin-top: unset;
    margin-bottom: 1rem;
}

.text-container p {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: unset;
}

#completeBookList,
#incompleteBookList {
    border-radius: 10px;
    max-height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 4px solid var(--primaryCo);
}                                      

#completeBookList::-webkit-scrollbar,
#incompleteBookList::-webkit-scrollbar {
    width: 3px;
}

#completeBookList::-webkit-scrollbar-track-piece,
#incompleteBookList::-webkit-scrollbar-track-piece {
    background: transparent;
    margin: 10px;
}

#completeBookList::-webkit-scrollbar-thumb,
#incompleteBookList::-webkit-scrollbar-thumb {
    background-color: var(--primaryCo);
    border-radius: 20px;
}


/*  EDIT CONTAINER   */

.edit-container button {
    float: right;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-left: 1rem;
}

.bookAuthorEditForm {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bookYearEditForm {
    max-width: 45%;
}

.edit-container input::placeholder {
    color: var(--textInput);
    opacity: 50%;
}

/*  ICON  */

.book-button-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.book-iscompleted-icon {
    background: url('/assets/bx-book.svg');

    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
    
    border-radius: 5px;
    border: 4px solid var(--textInput);
    background-color: var(--textInput);
}

.completed-icon {
    background: url('/assets/bx-check-double.svg');

    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
    
    border-radius: 5px;
    border: 4px solid var(--textInput);
    background-color: var(--textInput);
}

.book-uncompleted-icon {
    background: url('/assets/bx-book-open.svg');

    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
    
    border-radius: 5px;
    border: 4px solid var(--textInput);
    background-color: var(--textInput);
}

.undo-icon {
    background: url('/assets/bx-x.svg');

    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;

    border-radius: 5px;
    border: 4px solid var(--textInput);
    background-color: var(--textInput);
}

.edit-icon {
    background: url('/assets/bx-edit.svg');
    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;

    border-radius: 5px;
    border: 4px solid var(--textInput);
    background-color: var(--textInput);
}

.trash-icon {
    background: url('/assets/bx-trash.svg');

    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;

    border-radius: 5px;
    border: 4px solid var(--textInput);
    background-color: var(--textInput);
}

.edit-icon:hover,
.book-iscompleted-icon:hover,
.book-uncompleted-icon:hover,
.trash-icon:hover,
.completed-icon:hover,
.undo-icon:hover {
    box-shadow: 0px 5px var(--secondCo);
}

.edit-icon:active,
.book-iscompleted-icon:active,
.book-uncompleted-icon:active,
.trash-icon:active,
.completed-icon:active,
.undo-icon:active {
    border: 2px solid var(--secondCo);
}

@media screen and (max-width: 870px) {
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 720px) {

    h2 {
        font-size: 20px;

    }

    h3 {
        font-size: 18px;
        line-height: 1.3rem;
    }

    p {
        font-size: 12px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        font-size: 14px;
    }

    .book-button-icons {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .edit-icon,
    .book-iscompleted-icon,
    .book-uncompleted-icon,
    .completed-icon,
    .undo-icon,
    .trash-icon {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 590px) {
    header h1 {
        font-size: 26px;
    }
    
    h3 {
        font-size: 20px;
        line-height: 1.7rem;
    }

    p {
        font-size: 12px;
    }

    section {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    footer {
        margin-top: 1rem;
    }

    .form-container {
        width: 100%;
        margin-bottom: 1rem;
    }

    .search-book {
        max-width: 100%;
    }
    
    .book-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    footer {
        font-size: 12px;
    }
}